.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-controls {
  display: inline-block;
}

.Play-btn {
  width: 5vh;
  height: 5vh;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.Reset-btn {
  width: 6vh;
  height: 6vh;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(-31deg) brightness(118%) contrast(119%);
}